@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Poppins", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #f7b35b; /* Button */
  --color-secondary: #60a5fa;
  --color-tertiary: #f7843d;
  --color-background: #fafafa;
  --color-surface: #ffffff;
  --color-text: #364153;
  --color-muted: #89909f;
}

@layer base {
  html {
    font-family: var(--font-display);
    color: var(--color-text);
  }

  button {
    cursor: pointer;
  }

  /* styles.css */
  .button_primary {
    @apply px-4 
    bg-primary
    text-white 
    rounded 
    flex 
    items-center 
    gap-1 h-9 max-w-fit 
    bg-gradient-to-r from-[var(--color-primary)] to-[var(--color-tertiary)]
  }

  /* form */
  .label {
    @apply block mb-1 text-xs font-medium text-[#878787];
  }

  .input {
    @apply w-full bg-[#f1f1f1] sm:p-[7px] p-4 rounded-sm focus:outline-none;
  }

  .select_option {
    @apply sm:ps-[2px] sm:pe-[10px] px-4 bg-gray-100 rounded-sm;
  }

  .wrapper {
    @apply shadow bg-surface p-5 rounded;
  }

  .button_entry {
    @apply w-30 h-30 rounded-full hover:shadow-lg text-white py-3 flex flex-col justify-center items-center;
  }

  /* .button_primary {
    color: #ffffff;
    border-radius: 0.25rem;
    padding: 6px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
  } */

  .button_secondary {
    border-radius: 0.25rem;
    padding: 8px 15px;
    font-size: 12px;
    background-color: var(--color-background);
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .button_tertiary {
    color: #ffffff;
    border-radius: 0.25rem;
    padding: 8px 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  .line {
    position: relative;
  }

  /* vertical line behind the circle */
  .line:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17.5px;
    width: 2px;
    height: 100%;
    background: #ebe6e7;
    z-index: 0;
  }
}

/* GLOBAL SCROLLBAR STYLES */

/* Scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* 👈 change this value to make it thinner or thicker */
  height: 6px; /* for horizontal scrollbar */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 3px;
}

/* Optional: scrollbar background */
::-webkit-scrollbar-track {
  background: transparent;
}
